.mxd-page-content {
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 8rem;
    }
    h1.h1-small {
      font-size: 9rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: 8.5rem;
    }

    .mxd-hero-01__bottom {
      margin-top: 170px;
    }
  }
  @media only screen and (min-width: 1600px) {
    h1 {
      font-size: 11rem;
    }
  }

  .mxd-res-list__content--pos {
    position: relative;
    padding-right: 72px;
    padding-bottom: 24px;
  }

  .mxd-res-list__content--pos .mxd-res-list__year {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }

  .mxd-res-list__logo-br {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 0.85;
  }

  .mxd-res-list__descr .anim-uni-in-up {
    white-space: pre-line;
  }

  .mxd-section-subtitle {
    max-width: 520px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
  }

  .res-desc-icon {
    position: absolute;
    right: 0;
    bottom: 50px;

    width: 100px;
    height: 100px;

    opacity: 0.3;
    pointer-events: none;

    transform: translateY(4px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .res-desc-education-icon {
    width: 80px;
    height: 80px;
  }

  .featured-project-title {
    margin-top: 2.5rem;
  }

  @media (min-width: 1260px) {
    .mxd-res-list__item:hover .res-desc-icon {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @mixin inner-headlin-title-min-height($lines: 2) {
    min-height: calc(1.1em * #{$lines});
  }

  @media (max-width: 670px),
  (min-width: 768px) and (max-width: 940px) {
    .inner-headline__title {
      line-height: 1.1;
      @include inner-headlin-title-min-height(2);
    }
  }

  .markdown-p {
    margin-bottom: 1rem;
  }

  .markdown-strong {
    font-weight: 600;
  }

  .markdown-ul {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .project-image-caption {
    text-align: center;
    padding: 2rem 0 2rem 0;
  }

  @media only screen and (max-width: 1199px) {
    .mxd-project-cards__item {
      margin-bottom: 5rem;
    }
  }

  .inner-headline__tags .btn-small {
    height: 30px;
    padding: 0;
  }

  .inner-headline__margin {
    margin-top: 2rem;
  }
}

.mxd-demo-footer__bg {
  z-index: -10;
}

.menu-promo__svg {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 1200px) {
  .menu-promo__svg {
    width: 250px;
    height: 250px;
  }
}

.footer-icons {
  width: 56px;
  height: 56px;
}

.mxd-logo__text__inner {
  display: none;
}

.mxd-logo:hover .mxd-logo__text__inner {
  display: block;
}

.mxd-demo-footer__btn p {
  margin-bottom: 5rem;
}

//main {
//  cursor: default;
//}

.pointer-events-circle {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  pointer-events: none;
  z-index: 999;
}

.pointer-events-dot {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s, background-color 0.8s;
}